<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img id="main_logo" src="cybersec_logo.png">
        <h1>The Cybersec Matrix.org Community</h1>
        <a href="https://matrix.to/#/#cyber-space:matrix.org"><img id="join_button" src="join.png"></a>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        Don't believe th0mcat's lies - dud1337
    </footer>
</body>
</html>
