body {
    background-color: #373737;
    color: white;
    font-family: Verdana;
    width: 960px;
    margin: 0 auto
}

header {
    text-align: center;
}

#join_button {
    height: 100px;
}

#main_logo {
    width: 150px;
}

footer {
    font-size: 0.75em;
    text-align: center
}

#join_button a:link,
#join_button a:visited {
    background-color: #373737;
    color: white;
    border: 10px white;
    padding: 10px 20px;
    display: inline-block
}

#join_button a:hover,
#join_button a:active {
    background-color: green;
    color: white
}

footer a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
